@use '../abstracts/mq' as *;

.tech-list {
	@include max-device('large-desktop') {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		justify-content: space-evenly;
		padding: 0;
	}
}
