@use '../abstracts/mq' as *;

.tech-list {
	@include max-device('large-desktop') {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		padding: 0;
		gap: 3rem;
		list-style: none;
	}
}
