@use '../abstracts/mq' as *;

.project-container {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 1250px;
	max-height: 683px;
	gap: 1.5rem;
	padding: 3rem;

	.img-container {
		position: relative;
		width: 500px;
		height: 350px;
		border: 1px solid black;
		box-shadow: 10px 10px 13px grey;
		// animation: 1s ease-out 0s 1 slideInFromLeft;
		@include max-device('large-desktop') {
			width: 400px;
			height: 250px;
		}
	}

	@include max-device('large-desktop') {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		text-align: center;
		margin: 1rem 0;
		gap: 1rem;
		padding: 0 0 2rem 0;
	}
}

.content-container {
	max-width: 600px;
	min-width: 300px;
	// animation: 1s ease-out 0s 1 slideInFromRight;
}

// @keyframes slideInFromLeft {
// 	0% {
// 		transform: translateX(-100%);
// 	}
// 	100% {
// 		transform: translateX(0);
// 	}
// }
// @keyframes slideInFromRight {
// 	0% {
// 		transform: translateX(100%);
// 	}
// 	100% {
// 		transform: translateX(0);
// 	}
// }
