@use '../abstracts/mq' as *;

.aside {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 1500px;
	max-height: 683px;
	gap: 1.5rem;
	margin: 2rem auto;

	@include max-device('large-desktop') {
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		text-align: center;
		gap: 0;
	}
}

.flex-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	gap: 1rem;
	margin: 1rem;

	@include max-device('large-desktop') {
		justify-content: center;
	}
}

.flex-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 4rem;
}

.project-container {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 1250px;
	max-height: 683px;
	gap: 1.5rem;
	padding: 3rem;
	border-bottom: 1px solid black;

	div {
		img {
			border-radius: 1rem;
		}
	}

	&:last-child {
		border: none;
	}

	@include max-device('large-desktop') {
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		text-align: center;
		gap: 0;
	}
}
