@use '../abstracts/mq' as *;

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin: 1rem;
	// @include max-device('phone') {

	// }
}
