html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(253,243,229);
}

:root{
  --tan-color: rgb(253,243,229);
}

.container{
  margin: 20px;
}


a:link, a:visited {
  border: 10x solid black;
  color: black;
  padding: 14px 15px;
  margin: 10px;
  display: inline-block;
  border-radius: 25px;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}
.active{
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto 50px;
  font-size: 20px;
  max-width: 1500px;
}

form {
   display: flex;
   flex-direction:column;
   margin: 0 auto;
   max-width: 300px;
}

input{
  margin: 10px 0;
  height: 30px;
}

.input-button{
  background-color: var(--tan-color);
  border-radius: 20px;
  width: 100px;
  margin: 20px auto 50px;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid black;
}

.input-button:hover{
  background-color: black;
  color: var(--tan-color);
}

textarea{
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 300px;
  min-width: 300px;
  min-height: 200px;
  max-height: 600px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  font-size: 50px;
  margin: 10px 0;
}

.subheader {
  font-size: 20px;
  margin: 0;
}

.inline{
  display: inline;
}

.aside{
  display: flex;
  justify-content: space-evenly;
  margin: 5rem auto;
  max-width: 1500px;
}

.flex-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 20px auto;
}

.small-container{
  max-width: 600px;
  margin: 0 20px;
}

.link{
  border: 1px solid black;
  text-decoration: none;
  font-size: 12px;
}
.link:hover{
  text-decoration: none;
  background-color: black;
  color: var(--tan-color)
}

.img-wrapper{
  margin: 0 10px;
}

@media (max-width: 1000px){
  nav{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-align: center;
  }
  p {
    font-size: 15px;
  }

  .main-img{
    width: 200px;
    height: 200px;
  }

  a:link, a:visited {
    color: black;
    display: inline-block;
    margin: 3px 5px;
    border-radius: 25px;
    text-decoration: none;
  }

  .small-container{
    max-width: 600px;
    margin: 0;
  }

  .aside{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 20px 5px;
  }

  .profile-pic-wrapper{
    width: 300px;
    height: 300px;
  }

  .img-wrapper {
    width: 40px;
    height: 40px;
    margin: 1px;
  }

  .flex-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
  }
  .link{
    border: 1px solid black;
    text-decoration: none;
    font-size: 10px;
    padding: 10px;
    margin: 0 5px;
  }

  .input-button{
    color: black;
  }
}